<div id="nav-header">
  <img 
    src="../../../assets/Logo-CashInBox-icon-tipografia.png" 
    alt="logo cash in box" 
    id="logo-header"
    (click)="navigateToHome()"
  />

  <div class="section-right">
    <div class="section-dropdown">
      <p routerLink="/plataforma" routerLinkActive="active">Plataforma</p>
      <p routerLink="/download" routerLinkActive="active">Download</p>
      <p routerLink="/precos" routerLinkActive="active">Preços</p>
      <p routerLink="/contato" routerLinkActive="active">Contato</p>
    </div>

    <div>
      <button id="button-login" (click)="navigateToLogin()">Login</button>
      <button id="button-cadastro" (click)="navigateToCadastro()">Cadastro</button>
    </div>
  </div>
</div>